.event-content {
    width: 80%;
}

.date-style{
    font-weight: bolder;
}

@media (min-width: 768px) {
    .event-content {
        width: 30rem;
    }
}

.vertical-timeline-element-content {
    padding: 16px 24px;
}