@tailwind base;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@200&family=Open+Sans&family=Poppins:wght@300&display=swap');

body {
    font-family: 'M PLUS 1', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
}

@tailwind utilities;